/* Character name + information card styling */
.info-card {
    background-color: #d7e4e0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(00,0,0,0.2);
    font-size: 20px;
    color: black;
    justify-content: center;
    text-align: center;
    position: absolute;
    display: flex;
}

.name-card {
    width: 625px;
    height: 65px;
    left: 65px;
    top: 40px;
}

.class-card {
    width: 775px;
    height: 85px;
    left: 675px;
    top: 30px;
}

/* stat card styling */
.stat-card-container {
    position: absolute;
    top: 135px;
    left: 40px;
    height: 500px;
    width: 100px;
}

.stat-card {
    background-color: #d7e4e0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(00,0,0,0.2);
    font-size: 18px;
    color: black;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 80px;
}

.score-text {
    font-size: 30pt;
}

.stat-mod-card {
    background-color: #c1c5c4c0;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(00,0,0,0.2);
    font-size: 15pt;
    color: black;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 50px;
    height: 25px;
    margin-bottom: 20px;
    left: 25%;
}

.pos-stat-mod {
    background-color: #a3d4b8;
}

.neg-stat-mod {
    background-color: #d4a3a3;
}

/* proficiency bonus styling */
.prof-bonus-container {
    position: absolute;
    top: 140px;
    left: 200px;
    height: 50px;
    width: 275px;
    display: flex;
    text-align: center;
}

.prof-bonus-circle {
    position: relative;
    background-color: #d7e4e0;
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 22pt;
    height: 100%;
    width: 55px;
    padding: 1%;
    border: 1px solid black;
    z-index: 1;
}

.prof-bonus-rectangle {
    position: relative;
    background-color: #d7e4e0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 17pt;
    height: 35px;
    width: 225px;
    left: -15px;
    top: 7.5px;
    padding: 1%;
}

/* saving throws card styling */
.saving-throws-card {
    position: absolute;
    top: 215px;
    left: 200px;
    height: 180px;
    width: 265px;
    display: flex;
    background-color: #d7e4e0;
    justify-content: center;
}

.saving-throws-container {
    font-size: 13pt;
    text-align: left;
    padding-top: 5px;
}

.card-title {
    font-size: 17pt;
    position: absolute;
    bottom: 0px;
}

/* skills card styling */
.skills-card {
    position: absolute;
    top: 425px;
    left: 200px;
    height: 375px;
    width: 265px;
    display: flex;
    background-color: #d7e4e0;
    justify-content: center;
    font-size: 16pt;
}
